
.caption{
	font-size: 16px;
	color: #888;
}
.header{
	font-weight: 600;
	font-size: 16px;
	background-color: #E6EEFF;
}

p{
	font-family: Inter;
	font-size: 16px;
	color: #00194C;
}

input[type="text"]{
	width: 320px;
	height: 50px;
	border-radius: 4px;
	font-family: Inter;
	font-size: 14px;
}